@import "tailwindcss";

:root {
  background-color: #fbf8cc;
}

.font-bitcount {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 1, "CRSV" 1, "ELSH" 100, "ELXP" 30;
}
